body {
  background-color: whitesmoke;
}

#info-block {
  padding: 15px;
  border-right: 1px solid darkgrey;
}

#info-block:hover {
  background-color:darkgrey;
  color:white;
}

#table-block {
  padding: 15px;
}

#table-block > table {
  margin: auto;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  text-align: center;
  border: 1px solid lightgrey;
}

th {
  background-color: dimgrey;
  color: white;
}

h1 {
  text-align: center;
}
