body {
  background-color: whitesmoke;
}

#info-block {
  padding: 15px;
  border-right: 1px solid darkgrey;
}

#info-block:hover {
  background-color:darkgrey;
  color:white;
}

#table-block {
  padding: 15px;
}

#table-block > table {
  margin: auto;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  text-align: center;
  border: 1px solid lightgrey;
}

th {
  background-color: dimgrey;
  color: white;
}

h1 {
  text-align: center;
}

.pic-container {
  background-color: Gainsboro;
  border: 1px solid grey;
  padding: 20px;
}

.visibility-note {
  padding:15px;
  font-style: italic;
  font-size:0.8em;
}

.galaxy-pic {
  width: 100%;
  border: 5px inset black;
}

@media (min-width:992px) {
  .galaxy-pic, .visibility-note {
    width: 800px;
    display:block;
    margin: auto;
  }
}
